[Unit]
Description=DBD Discord Bot
After=network.target

[Service]
Type=simple
User=jay
WorkingDirectory=/home/jay/entity/entity
ExecStart=/home/jay/entity/entity/venv/bin/python main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
